<!--
<div  *ngIf="!loginService.isLogged" class="modal-header">
		</div>
	<div class="modal-body">
	  <div class="row justify-content-md-center login-img">
		<div class="col-12 col-md-auto">
		  <img src="assets/images/logoNuevo.png">
		</div>
	  </div>
		<div class="form-group-login">
		  <div class="row justify-content-md-center">
			<div class="col-12 col-md-auto input-group input-group-login">
			  <span class="input-group-addon" id="sizing-addon2"><i
				class="fa fa-user"></i></span> <input #user type="text"
			   class="form-control tf-login" placeholder="Usuario"
				aria-describedby="sizing-addon2" name="username">
			</div>
		  </div>
		  <div class="row justify-content-md-center"
			style="margin-top: 20px">
			<div class="col-12 col-md-auto input-group input-group-login">
			  <span class="input-group-addon" id="sizing-addon2"><i
				class="fa fa-lock"></i></span> <input #pass type="password"
				class="form-control tf-login" placeholder="Contraseña"
				aria-describedby="sizing-addon2" name="password">
			</div>
		  </div>
		  <div class="row justify-content-md-center">
			<div class="col-12 col-md-auto btn-enter-div">
			  <input type="submit" (click)="logIn($event, user.value, pass.value)"value="Entrar"
				class="btn btn-main btn-enter" /><br /> <input type="hidden"
				name="_csrf"/>
			</div>
		  </div>
		  <div class="row justify-content-md-center login-footer"
			style="margin-top: 50px">
			<div class="col-12 col-md-auto btn-enter-div">
			  <p>
			   ¿Todavía no tienes una cuenta? <a class="join_text"
				 (click)="open(registerModal)">Regístrate</a>
			  </p>
		   </div>
		  </div>
		</div>
	</div>
-->

<div *ngIf="loginService.isLogged" class="nav navbar-nav navbar-right">

				<div class="modal-dialog modal-sm">
					<div class="modal-content">
						<div class="modal-header"><h4>¿Estás seguro?<i class="fa fa-lock"></i></h4></div>
						<div class="modal-body"><i class="fa fa-question-circle"></i> ¿Estás seguro de que quieres cerrar sesión?</div>
						<div class="modal-footer"><button class="btn btn-primary btn-block" (click)="logOut()">Cerrar Sesión</button></div>
						
					</div>
				</div>
	

</div>


<!--
<section>
  <ng-template #registerModal let-c="close" let-d="dismiss">
		
<div class="modal-header">
	<h4 class="modal-title">Registro de Usuario</h4>
	<button type="button" class="close" aria-label="Close">
			<span aria-hidden="true" (click)="c()">&times;</span>
	</button>
</div>
<div class="modal-body">
<div class="row justify-content-md-center login-img">
	<div class="col-12 col-md-auto">
		<img src="assets/images/logoNuevo.png">
	</div>
</div>
<div class="form-group">
	<label for="signup_username">Usuario</label> <input
		type="text" class="form-control" [(ngModel)]="registerUser.name">
</div>
<div class="form-group">
	<label for="signup_password1">Contraseña</label> <input
		 type="password" class="form-control" [(ngModel)]="registerUser.passwordHash">
</div>
<div class="form-group">
	<label for="signup_password2">Repita la contraseña</label> <input
		type="password" class="form-control"
		[(ngModel)]="registerUser.passwordHash">
</div>
<div class="form-group">
	<label for="signup_email">Correo Electrónico</label> <input
		 type="text" class="form-control" [(ngModel)]="registerUser.email">
</div>
<div class="row">
	<div class="col-md-6">
		<label for="signup_provincia">Provincia</label> <select
			class="form-control w-bg">
			<option selected>Provincia</option>
			<option>Madrid</option>
		</select>
	</div>
	<div class="col-md-6">
		<label for="signup_ciudad">Ciudad</label> <select [(ngModel)]="registerUser.location"
			class="form-control w-bg">
			<option selected>Ciudad</option>
			<option value="Madrid">Madrid</option>
			<option value="Alcorcon">Alcorcón</option>
			<option value="Mostoles">Mostoles</option>
		</select>
	</div>
</div>
<div class="row justify-content-md-center login-img">
	<div class="col-12 col-md-auto add-img-btn"
		onclick="open_file_browser_profile()">
		<span class="add-img-icon">+</span> <br> <span>Imagen
			de Perfil</span>
	</div>
	<input [(ngModel)]="registerUser.file" id="profile_img_input" type="file" style="display: none"
		onchange="preview_profile_image()">
</div>
<div class="row justify-content-md-center">
	<div class="col-12 col-md-auto btn-enter-div">
		<div class="row">
			<div class="col-md-6">
				<button class="btn btn-transparent btn-enter" (click)="c()">Cancelar</button>
			</div>
			<div class="col-md-6">
				<button class="btn btn-main btn-enter" (click)="c();addUser()">Enviar</button>
			</div>
		 
		</div>
		</div>
</div>
</div>   
  </ng-template> 
	</section>
	
	-->
