<section class="section-sm" style="padding: 70px;">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="search-result bg-gray">
						<h2>Estos son los Resultados para la categoria seleccionada</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="pagination justify-content-center">
						<nav aria-label="Page navigation example">
							<ul class="pagination">
									
										<!--{{#morePages}}-->
										<a class="page-link" id="showMore">Mostrar más</a>
										<!--{{/morePages}}-->

										
										


									<div id="wait" style="display:none;width:69px;height:89px;border:1px solid black;position:absolute;top:50%;left:50%;padding:2px;">
									<img src='/images/demo_wait.gif' width="64" height="64" />
									<br>Cargando productos..</div>
							</ul>
						</nav>
					</div><br><br>
					</div>
			</div>
		</div>
</section>