<section>
    <div class="row">
        <div class="col-md-12">
            <div class="sidebar">
                <div class="widget user-dashboard-profile" *ngIf="user">
                    <div class="profile-thumb" > 
                        <div *ngIf="user.image !== '';then hasImage else noImage"></div>                                              
                        <ng-template #hasImage><img src="https://localhost:8443/imgs/{{user.image}}" class="rounded-circle"></ng-template>
                        <ng-template #noImage><i class="fa fa-user" style="color: #007bff; font-size: 125px; margin-top: 3px"></i></ng-template>
                    </div>
                    <h5 class="text-center">{{user.name}}</h5>
                    <p>Se unio el: {{user.registerDate | date}}</p>                    
                    <p>
                        <a class="btn btn-main-sm" style="color: white" (click)="openModal(userModal)"> Contacto: <i class="fa fa-address-card" aria-hidden="true"></i></a>
                    </p>  
                </div>
            </div>
        </div>
    </div>
    <div class="content" style="text-align: center">
        <ngb-tabset type="pills">
            <ngb-tab class="tab-pane fade show active" title="En venta">
                <ng-template ngbTabContent>
                    <div class="row">
                        <div class="col-sm-12 col-lg-4" *ngFor="let sProduct of sellingProducts">
                            <div class="product-item bg-light">
                                <div class="card">
                                    <div class="thumb-content">
                                        <a> <img class="card-img-top img-fluid" src="https://localhost:8443/imgs/{{sProduct.mainimage}}"></a>
                                    </div>
                                    <div class="card-body">
                                        <h4 class="card-title"><a>{{sProduct.name}}</a></h4>
                                        <h4 class="card-title">
                                            <a>{{sProduct.price}}€</a>
                                        </h4>
                                        <ul class="list-inline product-meta">
                                            <li>
                                                <a href=""><i class="fa fa-laptop"></i>{{sProduct.category.name}}</a>
                                            </li>
                                            <li><a href="">
                                                <i class="fa fa-calendar"></i>{{sProduct.date | date}}</a>
                                            </li>
                                        </ul>
                                        <p class="card-text">{{sProduct.description}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab class="tab-pane fade" title="Vendidos">
                <ng-template ngbTabContent>
                    <div class="row">
                        <div class="col-sm-12 col-lg-4" *ngFor="let soProduct of soldProducts">
                            <div class="product-item bg-light">
                                <div class="card">
                                    <div class="thumb-content">                                    
                                        <a><img class="card-img-top img-fluid" alt="Card image cap" src="https://localhost:8443/imgs/{{soProduct.mainimage}}"></a>
                                    </div>
                                    <div class="card-body">
                                        <h4 class="card-title">
                                            <a>{{soProduct.name}}</a>
                                        </h4>
                                        <h4 class="card-title">
                                            <a>{{soProduct.price}}<i class="fa fa-eur" aria-hidden="true"></i></a>
                                        </h4>
                                        <ul class="list-inline product-meta">
                                            <li class="list-inline-item"><a><i class="fa fa-laptop"></i>{{soProduct.category.name}}</a></li>
                                            <li class="list-inline-item"><a><i class="fa fa-calendar"></i>{{soProduct.date | date}}</a></li>
                                        </ul>
                                        <p class="card-text">{{soProduct.description}}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab class="tab-pane fade" title="Reseñas">
                <ng-template ngbTabContent>
                    <h3 class="tab-title">Comentarios</h3>
                    <table class="table table-responsive">
                        <tbody>                  
                            <tr *ngFor="let assessment of userAssessments">
                                <td>
                                    <div class="product-review">
                                        <div class="media">
                                            <div *ngIf="assessment.userFrom.image !== '';then hasImage else noImage"></div>
                                            <ng-template #hasImage><img src="https://localhost:8443/imgs/{{assessment.userFrom.image}}" class="rounded-circle"></ng-template>
                                            <ng-template #noImage><i class="fa fa-user" style="color: #007bff; font-size: 125px; margin-top: 3px"></i></ng-template>
                                            <div class="media-body">                                                
                                                <div class="name">
                                                    <h5>{{assessment.userFrom.name}}</h5>
                                                </div>
                                                <div class="date">
                                                    <p>{{assessment.date | date}}</p>
                                                </div>
                                                <div class="review-comment">
                                                    <p>{{assessment.text}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
</section>

<ng-template #userModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Informacion de usuario</h4>
        <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true" (click)="c()">&times;</span>
        </button>
    </div>
    <div class="modal-body" *ngIf="user">
            <p><i class="fa fa-phone"></i> Telefono: {{user.phone}}</p>
            <p><i class="fa fa-envelope"></i> Correo: {{user.email}}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c()">Close</button>
    </div>
</ng-template>