Dawllapop/target/*
Dawllapop/target/classes/META-INF/MANIFEST.MF
Dawllapop/target/classes/META-INF/maven/com.practicaDaw/Dawllapop/pom.properties

Dawllapop/target/classes/META-INF/maven/com.practicaDaw/Dawllapop/pom.properties

Dawllapop/target/classes/META-INF/maven/com.practicaDaw/Dawllapop/pom.properties

Dawllapop/target/classes/META-INF/MANIFEST.MF

Dawllapop/target/classes/META-INF/MANIFEST.MF

Dawllapop/.settings/org.eclipse.jdt.core.prefs

Dawllapop/.settings/org.eclipse.wst.common.project.facet.core.xml
