<footer class="footer-bottom">	
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-12">
				<div class="copyright">
					<p>Copyright © 2018. All Rights Reserved</p>
				</div>
			</div>
			<div class="col-sm-6 col-12">
				<ul class="social-media-icons text-right">
					<li><a class="fa fa-facebook"></a></li>
					<li><a class="fa fa-twitter"></a></li>
					<li><a class="fa fa-pinterest-p"></a></li>
					<li><a class="fa fa-vimeo"></a></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- Container End -->
	<!-- To Top -->
	<div class="top-to">
		<a id="top" class="" href=""> <i class="fa fa-angle-up"></i></a>
	</div>
</footer>