
/* Ocultar botón radio */
input[id^="spoiler"]{
  display: none;
  }
  /* Estilo botón clicable */
  input[id^="spoiler"] + label {
  display: block;
  width: 300px;
  margin: 0 auto;
  padding: 5px 20px;
  background: rgb(255, 255, 255);
  cursor: pointer;
  }
  /* Estilo botón cuando su INPUT está seleccionado */
  input[id^="spoiler"]:checked + label {
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  }
  /* Estilo caja SPOILER (inicialmente oculto) */
  input[id^="spoiler"] ~ .spoiler {
  width: 100%;
  height: 0;
  overflow: hidden;
  opacity: 0;
  margin: 10px auto 0; 
  }
  /* Estilo caja SPOILER cuando su INPUT está seleccionado */
  input[id^="spoiler"]:checked + label + .spoiler{
  height: auto;
  opacity: 1;
  }
.review-submit textarea{
    height: 100px;
}