<section class="dashboard section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="sidebar">                    
                    <div class="widget user-dashboard-profile">
                        <a>
                            <div class="profile-thumb">                        
                                <!--<img src="/imgs/{{image}}" alt="" class="rounded-circle">-->
                                <i class="fa fa-user" style="color: #007bff; font-size: 175px; margin-top: 3px"></i>
                            </div>
                        </a>
                        <h5 class="text-center" id="usernameTitle">{{loginService.user.name}}</h5>
                        <p>{{loginService.user.registerDate | date}}</p>                     
                        <a routerLink="/editUser/1" class="btn btn-main-sm">Editar Perfil</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 ">
                    <div class="content">
                        <ngb-tabset type="pills">
                            <ngb-tab class="tab-pane fade show active" title="Mis productos en venta">
                                <ng-template ngbTabContent>
                                    <table class="table table-responsive product-dashboard-table">
                                        <thead>
                                            <tr>
                                                <th width="300" class="text-center"> Imágen</th>
                                                <th width=" " class="text-center">Producto</th>
                                                <th class="text-center">Categoría</th>
                                                <th class="text-center">Acción</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let sellingProduct of sellingProducts">
                                                <td class="product-thumb">
                                                    <img width="200px" height="auto" src="https://localhost:8443/imgs/{{sellingProduct.mainimage}}">
                                                </td>
                                                <td class="product-details" style="padding-left:20px">
                                                    <h3 class="title">{{sellingProduct.name}}</h3>
                                                    <span>
                                                        <strong>Subido: </strong>
                                                        <time>{{sellingProduct.date | date}}</time>
                                                    </span>
                                                    <span class="status active">
                                                        <strong>Estado: </strong>{{sellingProduct.state}}
                                                    </span>                                                    
                                                </td>
                                                <td class="product-category">
                                                    <span class="categories">{{sellingProduct.category.name}}</span>
                                                </td>
                                                <td class="action" data-title="Action" style="padding-left:20px">
                                                    <div class="">
                                                        <ul class="list-inline justify-content-center">
                                                            <li class="list-inline-item">
                                                                <a data-toggle="tooltip" [routerLink]="['/singleProduct', sellingProduct.id]" data-placement="top" title="Tooltip on top" class="view">
                                                                    <i class="fa fa-eye"></i>
                                                                </a>
                                                            </li>
                                                            <li class="list-inline-item">
                                                                <a class="edit" [routerLink]="['/edit', sellingProduct.id]">
                                                                    <i class="fa fa-pencil"></i>
                                                                </a>
                                                            </li>
                                                            <li class="list-inline-item">
                                                                <a class="delete" style="cursor: pointer" (click)="deleteProduct(sellingProduct.id)">
                                                                    <i class="fa fa-trash"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div>
                                                        <a class="btn btn-main-sm" style="width:100px; margin-top:2px;">En venta</a>	
                                                    </div>
                                                </td>
                                            </tr>							
                                        </tbody>
                                    </table>
                                </ng-template>
                            </ngb-tab>
                            <ngb-tab class="tab-pane fade" title="Mis compras">
                                <ng-template ngbTabContent>
                                    <table class="table table-responsive product-dashboard-table">
                                        <thead>
                                            <tr>
                                                <th width="300" class="text-center"> Imágen</th>
                                                <th width=" " class="text-center">Producto</th>
                                                <th class="text-center">Acción</th>
                                            </tr>
                                        </thead>
                                        <tbody>                                            
                                            <tr *ngFor="let buyedProduct of buyedProducts">
                                                <td class="product-thumb">
                                                    <img width="200px" height="auto" alt="image description" src="https://localhost:8443/imgs/{{buyedProduct.mainimage}}">
                                                </td>
                                                <td class="product-details" style="padding-left:20px">
                                                    <h3 class="title">{{buyedProduct.name}}</h3>
                                                    <strong>Subido: </strong>
                                                    <time>{{buyedProduct.date | date}}</time>                                                            
                                                </td>
                                                <td style="padding-left:20px">
                                                    <div class="row">
                                                        <label>Has adquirido este producto. Ponte en contacto con el vendedor 
                                                            <a color="black">{{buyedProduct.user.name}}</a>
                                                        </label>
                                                    </div>
                                                    <div class='row'>                                                      
                                                        <div class='row' style="text-align: center; width: 100%">
                                                            <p style="width: 100%">Deja una reseña del vendedor</p>
                                                        </div>                                                                
                                                        <div class="row" style="width: 100%">
                                                            <textarea class="form-control" style="resize: none; height: 150px" [(ngModel)]="assessmentText"></textarea>
                                                        </div>
                                                        <div class="row" style="text-align: center; width: 100%; margin-top: 5px">
                                                            <button class="btn btn-main" (click)="sendAssessment(buyedProduct.user.id)" style="margin-right: auto; margin-left: auto; height: 45px; padding-top: 10px">Enviar</button>
                                                        </div>                                                            
                                                    </div>
                                                </td>
                                            </tr>                                                
                                        </tbody>
                                    </table>
                                </ng-template>
                            </ngb-tab>
                            <ngb-tab class="tab-pane fade" title="Mis ventas">                                
                                <ng-template ngbTabContent>
                                        <table class="table table-responsive product-dashboard-table">
                                            <thead>
                                                <tr>
                                                    <th width="300" class="text-center"> Imágen</th>
                                                    <th width=" " class="text-center">Producto</th>
                                                    <th class="text-center">Acción</th>
                                                </tr>
                                            </thead>
                                            <tbody>                                        
                                                <tr *ngFor="let soldProduct of soldProducts">
                                                    <td class="product-thumb">
                                                        <img width="200px" height="auto" src="https://localhost:8443/imgs/{{soldProduct.mainimage}}">
                                                    </td>
                                                    <td class="product-details" style="padding-left:20px">
                                                        <h3 class="title">{{soldProduct.name}}</h3>
                                                        <strong>Subido: </strong>
                                                        <time>{{soldProduct.date | date}}</time>                                                    
                                                    </td>
                                                    <!--<td style="padding-left:20px">
                                                        <div class="row">                                                            
                                                            <label>
                                                                Has adquirido este producto. Ponte en contacto con el vendedor 
                                                                <a color="black">{{soldProduct.user.name}}</a>
                                                            </label>
                                                        </div>
                                                        <div class='row'>                                                        
                                                            <div class='row' style="text-align: center; width: 100%">
                                                                <p style="width: 100%">Deja una reseña del vendedor</p>
                                                            </div>
                                                            <div class="row" style="width: 100%">
                                                                <textarea class="form-control" style="resize: none; height: 150px" [(ngModel)]="assessmentText"></textarea>
                                                            </div>
                                                            <div class="row" style="text-align: center; width: 100%; margin-top: 5px">
                                                                <button class="btn btn-main" (click)="sendAssessment(soldProduct.user.id)" style="margin-right: auto; margin-left: auto; height: 45px; padding-top: 10px">Enviar</button>
                                                            </div>                                                        
                                                        </div>
                                                    </td>-->
                                                </tr>
                                            </tbody>
                                        </table>
                                    </ng-template>
                            </ngb-tab>
                            <ngb-tab class="tab-pane fade" title="Reseñas">
                                <ng-template ngbTabContent>
                                    <h3 class="tab-title">Comentarios</h3>
                                    <table class="table table-responsive">
                                        <tbody>
                                            <tr *ngFor="let userAssessment of userAssessments">
                                                <td>
                                                    <div class="product-review">                                                    
                                                        <div class="product-review">
                                                            <div class="media">
                                                                <div *ngIf="userAssessment.userFrom.image !== '';then hasImage else noImage"></div>
                                                                <ng-template #hasImage><img src="https://localhost:8443/imgs/{{userAssessment.userFrom.image}}" class="rounded-circle"></ng-template>
                                                                <ng-template #noImage><i class="fa fa-user" style="color: #007bff; font-size: 125px; margin-top: 3px"></i></ng-template>
                                                                <div class="media-body">                                                                    
                                                                    <div class="name">
                                                                        <h5><a [routerLink]="['/publicDashboard', userAssessment.userFrom.id]">{{userAssessment.userFrom.name}}</a></h5>
                                                                    </div>
                                                                    <div class="date">
                                                                        <p>{{userAssessment.date | date}}</p>
                                                                    </div>
                                                                    <div class="review-comment">
                                                                        <p>{{userAssessment.text}}</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>                                                        
                                                    </div>
                                                </td>
                                            </tr>                                            
                                        </tbody>
                                    </table>
                                </ng-template>
                            </ngb-tab>
                            <ngb-tab class="tab-pane fade" title="Ofertas recibidas">
                                <ng-template ngbTabContent>
                                    <h3 class="tab-title">Ofertas recibidas</h3>
                                    <table class="table table-responsive product-dashboard-table">
                                        <tbody>
                                            <tr *ngFor="let product of productOffers">
                                                <td class="product-thumb" style="vertical-align: top;">                                                    
                                                    <img style="width: 100px; height: 100px" src="https://localhost:8443/imgs/{{product.mainimage}}" class="rounded-circle">                                                
                                                </td>
                                                <td class="product-details" style="padding-left:20px; vertical-align: top;">
                                                    <h3 class="title">{{product.name}}</h3>
                                                    <span>
                                                        <strong>Subido: </strong>
                                                        <time>{{product.date | date}}</time>
                                                    </span>
                                                    <span class="status active">
                                                        <strong>Estado: </strong>{{product.state}}</span>                                                    
                                                </td>
                                                <td>
                                                    <div *ngFor="let offer of product.offers"> 
                                                        <div class="product-review">
                                                            <div class="media">
                                                                    <div *ngIf="offer.buyer.image !== '';then hasImageOffer else noImageOffer"></div>
                                                                    <ng-template #hasImageOffer><img src="https://localhost:8443/imgs/{{offer.buyer.image}}" class="rounded-circle"></ng-template>
                                                                    <ng-template #noImageOffer><i class="fa fa-user" style="color: #007bff; font-size: 125px; margin-top: 3px"></i></ng-template>
                                                                <div class="media-body">                                                                    
                                                                    <div class="name">
                                                                        <a><h5>{{offer.buyer.name}}</h5></a>
                                                                    </div>
                                                                    <div class="date">
                                                                        <p>{{offer.date | date}}</p>
                                                                    </div>
                                                                    <div class="review-comment">
                                                                        <p>{{offer.message}}</p>
                                                                    </div>
                                                                    <div>Oferta: {{offer.price}}</div>
                                                                    <div class="btn-group btn-group-sm">                                                                        
                                                                        <a class="btn btn-success" (click)="acceptOffer(offer.id)">Aceptar</a>                                                                                                                                     
                                                                        <a class="btn btn-danger" (click)="refuseOffer(offer.id)">Rechazar</a>                                                                    
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </ng-template>
                            </ngb-tab>
                            <!--<ngb-tab class="tab-pane fade" title="Solicitudes de amistad">
                                <ng-template ngbTabContent>
                                    <h3 class="tab-title">Solicitudes de amistad recibidas</h3>
                                    <table class="table table-responsive product-dashboard-table">
                                        <tbody>                                            
                                            <tr *ngFor="let request of friendRequests">
                                                <td>
                                                    <div class="product-review">
                                                        <div class="media">
                                                            <div *ngIf="request.userFrom.image !== '';then hasImageRequest else noImageRequest"></div>
                                                            <ng-template #hasImageRequest><img src="https://localhost:8443/imgs/{{request.from.image}}" class="rounded-circle"></ng-template>
                                                            <ng-template #noImageRequest><i class="fa fa-user" style="color: #007bff; font-size: 125px; margin-top: 3px"></i></ng-template>
                                                            <div class="media-body">																	
                                                                <div class="name">
                                                                    <h5>{{request.from.name}}</h5>
                                                                </div>
                                                                <div class="date">
                                                                    <p>{{request.date | date}}</p>
                                                                </div>
                                                                <div class="review-comment">
                                                                    <p>{{request.message}}</p>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <a class="btn btn-trasparent" style="cursor: pointer">Ignorar</a>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <a class="btn btn-main" style="color:white; cursor: pointer">Aceptar</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </ng-template>
                            </ngb-tab>        -->
                        </ngb-tabset>                        
                    </div>
                </div>                
            </div>
        </div>
</section>