<section class="popular-deals section bg-custom zero-top" style="padding: 0px; margin-top: 100px">
	<div class="container page-content" style="margin-top: 0px">

		<div class="row">
			<div class="col-md-12">
				<div class="section-title">
					<h2>Productos que coinciden con la busqueda</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 col-lg-3" *ngFor="let product of searchProducts">			
				<div class="product-item bg-light">
					<div class="card">
						<div class="thumb-content">							
              <a [routerLink]="['/singleProduct', product.id]" style="cursor: pointer">
                <img src="https://localhost:8443/imgs/{{product.mainimage}}" class="card-img-top img-fluid" alt="Card image cap">
              </a>
						</div>
						<div class="card-body">
							<h4 class="card-title"><a [routerLink]="['/singleProduct', product.id]" style="cursor: pointer">{{product.name}}</a></h4>
							<ul class="list-inline product-meta">
								<li class="list-inline-item"><i class="fa fa-folder-open-o"></i>{{product.category.name}}</li>
								<li class="list-inline-item"><i class="fa fa-calendar"></i>{{product.date | date}}</li>
							</ul>
							<p class="card-text">{{product.description}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="popular-deals section bg-custom zero-top" style="padding: 0px; margin-top: 100px; margin-bottom: 100px">
	<div class="container page-content" style="margin-top: 0px">
		<div class="row">
			<div class="col-md-12">
				<div class="section-title">
					<h2>Usuarios:</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 col-lg-3" *ngFor="let user of searchUsers">
				<div class="product-item bg-light">
					<div class="card">
						<div class="thumb-content" style="text-align: center">
							<a>
								<div *ngIf="user.image !== '';then hasImage else noImage"></div>                                              
                <ng-template #hasImage><img src="https://localhost:8443/imgs/{{user.image}}" class="rounded-circle"></ng-template>
                <ng-template #noImage><i class="fa fa-user" style="color: #007bff; font-size: 125px; margin-top: 3px"></i></ng-template>
							</a>
						</div>
						<div class="card-body">
							<h4 class="card-title" style="text-align:center">
                <a [routerLink]="['/publicDashboard', user.id]" style="cursor: pointer">{{user.name}}</a>
              </h4>						
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>