<section class="section bg-custom">
	<!-- Container Start -->
	<div class="container page-content">
		<div class="row">
			<!-- Left sidebar -->
			<div class="col-md-12 ">
				<div class="product-details" >
					
						<div class="row">
							<div class="col-md-12">
								<h1 class="widget-header user">Añadir producto</h1>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="row">
									<div class="col-md-12">
										<h3 class="widget-header user">Informacion Principal</h3>
									</div>
								</div>
								<div class="row">
									<div class="form-group col-md-8">
										<label>Nombre producto</label>
										<input [(ngModel)]="product.name" type="text" class="form-control w-bg" placeholder="Nombre">
									</div>
									<div class="form-group col-md-4">
										<div class="row col-md-12">
												<label for="fs_product_category">Categoría producto</label>
										</div>
										<div class="row col-md-12">
											<select [(ngModel)]="categoryName" class="form-control selectpicker">
												<option selected disabled>Categoria</option>
												<option value="Informatica">Informática y Electrónica</option>
												<option value="Inmobiliaria">Inmobiliaria</option>
												<option value="Deportes">Deportes y Ocio</option>
												<option value="Videojuegos">Videojuegos</option>
												<option value="Moda">Moda</option>
											</select>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-4 form-group">
										<label for="tl_product_prize">Precio</label>
										<input  [(ngModel)]="product.price" type="text" class="form-control w-bg" placeholder="Precio">
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
							
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<h3 class="widget-header user">Añadir imágenes</h3>
								<div class="form-group">									
									<input type="file" id="file" (change)="handleFileInput($event.target.files)">
								</div>
								<div class="row col-md-12" id="div_imgs">

								</div>
							</div>
						</div>
						<div class="content">						
							<ngb-tabset >
								<ngb-tab class="tab-pane fade show active" title="Información General">
									<ng-template ngbTabContent>
										<h3 class="tab-title">Descripcion de Producto</h3>
										<textarea [(ngModel)]="product.description" class="form-control tl_desc"></textarea>							
									</ng-template>								
								</ngb-tab>
								<ngb-tab class="tab-pane fade" title="Especificaciones">
									<ng-template ngbTabContent>
										<h3 class="tab-title">Especificaciones del producto</h3>
										<div class="row">
											<div class="col-md-2">
												<a class="btn btn-transparent table-btn" (click)="deleteSpecificationRow()">-</a>
												<a class="btn btn-transparent table-btn" (click)="addSpecificationRow()">+</a>
											</div>
										</div>
										<table class="table table-bordered">
											<tbody>
												<tr *ngFor="let specification of product.specifications; let i = index">
													<td>
														<div class="form_group">
															<input type="text" class="form-control w-bg" placeholder="Titulo" [(ngModel)]="product.specifications[i][0]">
														</div>
													</td>
													<td>
														<div class="form_group">
															<input type="text" class="form-control w-bg" placeholder="Especificación" [(ngModel)]="product.specifications[i][1]">
														</div>
													</td>
												</tr>
											</tbody>
										</table>
									</ng-template>
								</ngb-tab>							
							</ngb-tabset>
						</div>
						<div class="row pull-right" style="margin-top:20px">
							<div class="col-md-12 ">
								<button (click)="addProduct()">Añadir</button>								
							</div>
							<ngb-alert *ngIf="added" type="success" (close)="closeAlert(alert)">producto añadido correctamente </ngb-alert>
						</div>

				</div>
			</div>					
		</div>
	</div>
	<!-- Container End -->
</section>
