<section class="section bg-gray">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="product-details" *ngIf="product">
					<h1 class="product-title">{{product.name}}</h1>
					<div class="product-meta">
						<ul class="list-inline">
							<!--<li class="list-inline-item"><i class="fa fa-user-o"></i> Vendedor: </li>-->
							<!--<li class="list-inline-item"><i class="fa fa-location-arrow"></i> Localizacion: </li>-->
						</ul>
					</div>
					<div id="images">												
						<div>
							<button style="margin: 10px" (click)="openModalLg(images)">Ver todas las imágenes</button>
						</div>												
						<div>
							<img style="width:100%; margin-top: 20px" src="{{images_url}}/{{product.mainimage}}">
						</div>													
					</div>
					<div class="content">						
						<ngb-tabset >
							<ngb-tab class="tab-pane fade show active" title="Información General">
								<ng-template ngbTabContent>
									<h3 class="tab-title">Descripcion de Producto</h3>
									<p>{{product.description}}</p>								
								</ng-template>								
							</ngb-tab>
							<ngb-tab class="tab-pane fade" title="Especificaciones">
								<ng-template ngbTabContent>
									<h3 class="tab-title">Especificaciones del producto</h3>
									<table class="table table-bordered product-table">
										<tr *ngFor="let specification of product.specifications">
											<td *ngFor="let elem of specification">{{elem}}</td>
										</tr>
									</table>
								</ng-template>
							</ngb-tab>							
						</ngb-tabset>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="sidebar">
					<div class="widget price text-center" *ngIf="product">
						<h4>Precio</h4>
						<p>{{product.price}}</p>
					</div>
					<div class="widget user" *ngIf="user">
						<img class="rounded" src="" alt="" width="100%">
						<br>
						<h4 align="center">
							<a style="cursor: pointer" [routerLink]="['/publicDashboard', user.id]">{{user.name}}</a>
						</h4>
						<ul class="list-inline mt-20">
							<li class="list-inline-item">
								<a class="btn btn-contact" (click)="openModal(contact)">Contacto</a>
							</li>
							<li class="list-inline-item" *ngIf="loginService.user">
								<a *ngIf="loginService.user.id != user.id" class="btn btn-contact" (click)="openOffer(offerModal)">Proponer una oferta</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>	
</section>

<ng-template #contact let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title">Informacion de contacto</h4>
		<button type="button" class="close" aria-label="Close">
			<span aria-hidden="true" (click)="c()">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<p>Correo: {{user.email}}</p>
		<p>Teléfono: {{user.phone}}</p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="c()">Close</button>
	</div>
</ng-template>

<ng-template #images let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title">Informacion de contacto</h4>
		<button type="button" class="close" aria-label="Close">
			<span aria-hidden="true" (click)="c()">&times;</span>
		</button>
	</div>
	<div class="modal-body" *ngIf="product">
		<div class="row" *ngFor="let image of product.images">
			<img style="width:100%" src="{{images_url}}/{{image}}">
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="c()">Close</button>
	</div>
</ng-template>

<ng-template #offerModal let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title">Propón una oferta</h4>
		<img src="./../assets/images/logoNuevo.png">
	</div>
	<div class="modal-body" *ngIf="product">
		<div class="widget price text-center">
			<h4>Precio actual</h4>
			<p>{{product.price}} €</p>
		</div>
		<div class="form-group">
			<label>Precio que ofreces</label>
			<input class="form-control input-sm" type="text" [(ngModel)]="offer.price">
		</div>
		<div class="form-group">
			<label>Breve descripción de la oferta:</label>
			<textarea class="form-control" rows="3" [(ngModel)]="offer.message"></textarea>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" (click)="addOffer(); c()">Proponer</button>
		<button type="button" class="btn btn-outline-dark" (click)="c()">Cerrar</button>
	</div>
</ng-template>