<section class="section bg-gray">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="product-details" *ngIf="product">
					<h1 class="product-title">{{product.name}}</h1>
					<div class="product-meta">
						<ul class="list-inline">
							<!--<li class="list-inline-item"><i class="fa fa-user-o"></i> Vendedor: </li>-->
							<!--<li class="list-inline-item"><i class="fa fa-location-arrow"></i> Localizacion: </li>-->
						</ul>
					</div>
					<div id="images">												
						<div>
							<button style="margin: 10px">Ver todas las imágenes</button>
						</div>												
						<div>
							<img style="width:100%; margin-top: 20px">
						</div>													
					</div>
					<div class="content">						
						<ngb-tabset >
							<ngb-tab class="tab-pane fade show active" title="Información General">
								<ng-template ngbTabContent>
									<h3 class="tab-title">Descripcion de Producto</h3>
									<p>{{product.description}}</p>								
								</ng-template>								
							</ngb-tab>
							<ngb-tab class="tab-pane fade" title="Especificaciones">
								<ng-template ngbTabContent>
									<h3 class="tab-title">Especificaciones del producto</h3>
									<table class="table table-bordered product-table">
										<tr *ngFor="let specification of product.specifications">
											<td *ngFor="let elem of specification">{{elem}}</td>
										</tr>
									</table>
								</ng-template>
							</ngb-tab>							
						</ngb-tabset>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="sidebar">
					<div class="widget price text-center">
						<h4>Precio</h4>
					</div>
					<div class="widget user">
						<img class="rounded" src="" alt="" width="100%" >
						<br>
						<h4 align="center"></h4>
						<ul class="list-inline mt-20">
							<li class="list-inline-item">
								<a class="btn btn-contact">Contacto</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>	
</section>