<section>
  <div class="container">
    <div class="row">
			<div class="col-md-12">
          <nav class="navbar navbar-expand-lg navbar-light navigation">
              <a class="navbar-brand"> <img src="../../assets/images/logoNuevo.png"></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto main-nav ">
                  <li class="nav-item active"><a class="nav-link" [routerLink]="['/index']" style="cursor: pointer">Inicio</a></li> 
                  <li class="nav-item dropdown dropdown-slide">
                    <a [routerLink]="['/category']" class="nav-link dropdown-toggle"> Categorias <span> <i class="fa fa-angle-down"></i></span></a>             
                    <div class="dropdown-menu dropdown-menu-right">
                      <a [routerLink]="['/category/', 1]" class="dropdown-item">Electronica e Informatica</a> 
                      <a [routerLink]="['/category/', 2]" class="dropdown-item">Inmobiliaria</a>
                      <a [routerLink]="['/category/', 3]" class="dropdown-item">Deportes y Ocio</a>
                      <a [routerLink]="['/category/', 4]" class="dropdown-item">Consolas y Videojuegos</a> 
                      <a [routerLink]="['/category/', 5]" class="dropdown-item">Moda</a>
                    </div>
                  </li> 
                  <li class="nav-item" *ngIf="loginService.user">
                    <a class="nav-link" [routerLink]="['/addProduct']">Añadir producto <i class="fa fa-plus"></i></a>
                  </li>
                </ul>  
                <ul class="navbar-nav ml-auto mt-10">
                  <div *ngIf="loginService.user;then viewIsLogged else viewNoLogged"></div>
                  <ng-template #viewIsLogged>
                    <li class="nav-item">
                      <a class="btn nav-link" [routerLink]="['/dashboard']"><i class = "fa fa-user"></i> ¡Hola {{loginService.user.name}}!</a>                      
                      <button class="btn btn-primary" data-target=".bs-logout-modal-sm" data-toggle="modal" (click)="open(logOut)"><a> Cerrar sesión</a> </button>
                          <ul class="navbar-nav ml-auto mt-10" *ngIf="loginService.isLogged">
                              
                              <li class="nav-item" *ngIf="loginService.user.isAdmin">
                                <a class="btn nav-link" [routerLink]="['/adminProducts']"><i class="fa fa-lock"></i> Página de administrador </a>
                              </li>
                          </ul>    
                    </li>
                  </ng-template>
                  <ng-template #viewNoLogged>
                    <li class="nav-item"><a class="nav-link login-button" (click)="open(loginModal)">Iniciar Sesion</a></li>
                  </ng-template>
                </ul>
              </div>              
          </nav>        
      </div>
    </div>  
  </div>
</section>

<section>
    
<ng-template #loginModal let-c="close" let-d="dismiss"  >
  <div class="modal-header">
  	<h4 class="modal-title">Informacion de usuario</h4>
    <button type="button" class="close" aria-label="Close">
			<span aria-hidden="true" (click)="c()">&times;</span>
  </button>
</div>
<div  *ngIf="!loginService.isLogged" class="modal-header">
  </div>
<div class="modal-body">
  <div class="row justify-content-md-center login-img">
  <div class="col-12 col-md-auto">
    <img src="assets/images/logoNuevo.png">
  </div>
  </div>
  <div class="form-group-login">
    <div class="row justify-content-md-center">
    <div class="col-12 col-md-auto input-group input-group-login">
      <span class="input-group-addon" id="sizing-addon2"><i
      class="fa fa-user"></i></span> <input #user type="text"
       class="form-control tf-login" placeholder="Usuario"
      aria-describedby="sizing-addon2" name="username">
    </div>
    </div>
    <div class="row justify-content-md-center"
    style="margin-top: 20px">
    <div class="col-12 col-md-auto input-group input-group-login">
      <span class="input-group-addon" id="sizing-addon2"><i
      class="fa fa-lock"></i></span> <input #pass type="password"
      class="form-control tf-login" placeholder="Contraseña"
      aria-describedby="sizing-addon2" name="password">
    </div>
    </div>
    <div class="row justify-content-md-center">
    <div class="col-12 col-md-auto btn-enter-div">
      <input type="submit" (click)="c();logIn($event, user.value, pass.value)"value="Entrar"
      class="btn btn-main btn-enter" /><br /> <input type="hidden"
      name="_csrf"/>
    </div>
    </div>
    <div class="row justify-content-md-center login-footer"
    style="margin-top: 50px">
    <div class="col-12 col-md-auto btn-enter-div">
      <p>
       ¿Todavía no tienes una cuenta? <a class="join_text"
       (click)="c();open(registerModal)">Regístrate</a>
      </p>
     </div>
    </div>
  </div>
</div>

</ng-template> 

</section>

<section>
  <ng-template #logOut let-c="close" let-d="dismiss">
    
  <login></login>
  </ng-template>
</section>

<section>
    <ng-template #registerModal let-c="close" let-d="dismiss">
      
  <div class="modal-header">
    <h4 class="modal-title">Registro de Usuario</h4>
    <button type="button" class="close" aria-label="Close">
        <span aria-hidden="true" (click)="c()">&times;</span>
    </button>
  </div>
  <div class="modal-body">
  <div class="row justify-content-md-center login-img">
    <div class="col-12 col-md-auto">
      <img src="assets/images/logoNuevo.png">
    </div>
  </div>
  <div class="form-group">
    <label for="signup_username">Usuario</label> <input
      type="text" class="form-control" [(ngModel)]="registerUser.name">
  </div>
  <div class="form-group">
    <label for="signup_password1">Contraseña</label> <input
       type="password" class="form-control" [(ngModel)]="registerUser.passwordHash">
  </div>
  <div class="form-group">
    <label for="signup_password2">Repita la contraseña</label> <input
      type="password" class="form-control" [(ngModel)]="registerUser.passwordHash">
  </div>
  <div class="form-group">
    <label for="signup_email">Correo Electrónico</label> <input
       type="text" class="form-control" [(ngModel)]="registerUser.email">
  </div>
  <div class="row">
    <div class="col-md-6">
      <label for="signup_provincia">Provincia</label> <select
        class="form-control w-bg">
        <option selected>Provincia</option>
        <option>Madrid</option>
      </select>
    </div>
    <div class="col-md-6">
      <label for="signup_ciudad">Ciudad</label> <select [(ngModel)]="registerUser.location"
        class="form-control w-bg">
        <option selected>Ciudad</option>
        <option value="Madrid">Madrid</option>
        <option value="Alcorcon">Alcorcón</option>
        <option value="Mostoles">Mostoles</option>
      </select>
    </div>
  </div>
  <div class="row justify-content-md-center login-img">
    <div class="col-12 col-md-auto add-img-btn"
      onclick="open_file_browser_profile()">
      <span class="add-img-icon">+</span> <br> <span>Imagen
        de Perfil</span>
    </div>
    <input [(ngModel)]="registerUser.file" id="profile_img_input" type="file" style="display: none"
      onchange="preview_profile_image()">
  </div>
  <div class="row justify-content-md-center">
    <div class="col-12 col-md-auto btn-enter-div">
      <div class="row">
        <div class="col-md-6">
          <button class="btn btn-transparent btn-enter" (click)="c()">Cancelar</button>
        </div>
        <div class="col-md-6">
          <button class="btn btn-main btn-enter" (click)="c();addUser()">Enviar</button>
        </div>
       
      </div>
      </div>
  </div>
  </div>   
    </ng-template> 
    </section>

