<section>
  <div class="container">
    <div class="row">
			<div class="col-md-12">
          <nav class="navbar navbar-expand-lg navbar-light navigation">
              <a class="navbar-brand"> <img src="../../assets/images/logoNuevo.png"></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto main-nav ">
                  <li class="nav-item active"><a class="nav-link" [routerLink]="['/index']" style="cursor: pointer">Inicio</a></li> 
                  <li class="nav-item dropdown dropdown-slide">
                    <a [routerLink]="['/category']" class="nav-link dropdown-toggle"> Categorias <span> <i class="fa fa-angle-down"></i></span></a>             
                    <div class="dropdown-menu dropdown-menu-right">
                      <a [routerLink]="['/category/', 1]" class="dropdown-item">Electronica e Informatica</a> 
                      <a [routerLink]="['/category/', 2]" class="dropdown-item">Inmobiliaria</a>
                      <a [routerLink]="['/category/', 3]" class="dropdown-item">Deportes y Ocio</a>
                      <a [routerLink]="['/category/', 4]" class="dropdown-item">Consolas y Videojuegos</a> 
                      <a [routerLink]="['/category/', 5]" class="dropdown-item">Moda</a>
                    </div>
                  </li> 
                </ul>  
                <ul class="navbar-nav ml-auto mt-10">
                  <li class="nav-item"><a class="nav-link login-button" (click)="open(loginModal)">Iniciar Sesion</a></li>
                </ul>
              </div>              
          </nav>        
      </div>
    </div>  
  </div>
</section>
<ng-template #loginModal let-c="close" let-d="dismiss">
  <div class="modal-header">
      <h4 class="modal-title">Informacion de usuario</h4>
      <button type="button" class="close" aria-label="Close">
          <span aria-hidden="true" (click)="c()">&times;</span>
      </button>
  </div>
  <div class="modal-body">
    <div class="row justify-content-md-center login-img">
      <div class="col-12 col-md-auto">
        <img src="images/logoNuevo.png">
      </div>
    </div>
      <div class="form-group-login">
        <div class="row justify-content-md-center">
          <div class="col-12 col-md-auto input-group input-group-login">
            <span class="input-group-addon" id="sizing-addon2"><i
              class="fa fa-user"></i></span> <input type="text"
              class="form-control tf-login" placeholder="Usuario"
              aria-describedby="sizing-addon2" name="username">
          </div>
        </div>
        <div class="row justify-content-md-center"
          style="margin-top: 20px">
          <div class="col-12 col-md-auto input-group input-group-login">
            <span class="input-group-addon" id="sizing-addon2"><i
              class="fa fa-lock"></i></span> <input type="password"
              class="form-control tf-login" placeholder="Contraseña"
              aria-describedby="sizing-addon2" name="password">
          </div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-12 col-md-auto btn-enter-div">
            <input type="submit" value="Entrar"
              class="btn btn-main btn-enter" /><br /> <input type="hidden"
              name="_csrf" />
          </div>
        </div>
        <div class="row justify-content-md-center login-footer"
          style="margin-top: 50px">
          <div class="col-12 col-md-auto btn-enter-div">
            <p>
              ¿Todavía no tienes una cuenta? <span class="join_text"
                onclick="open_signup()">Regístrate</span>
            </p>
          </div>
        </div>
      </div>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="c()">Close</button>
  </div>
</ng-template>