<section>
  <div class="container">
    <div class="row">
			<div class="col-md-12">
          <nav class="navbar navbar-expand-lg navbar-light navigation">
              <a class="navbar-brand"> <img src="../../assets/images/logoNuevo.png"></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto main-nav ">
                  <li class="nav-item active"><a class="nav-link" [routerLink]="['/index']" style="cursor: pointer">Inicio</a></li> 
                  <li class="nav-item dropdown dropdown-slide">
                    <a [routerLink]="['/category']" class="nav-link dropdown-toggle"> Categorias <span> <i class="fa fa-angle-down"></i></span></a>             
                    <div class="dropdown-menu dropdown-menu-right">
                      <a [routerLink]="['/category/', 1]" class="dropdown-item">Electronica e Informatica</a> 
                      <a [routerLink]="['/category/', 2]" class="dropdown-item">Inmobiliaria</a>
                      <a [routerLink]="['/category/', 3]" class="dropdown-item">Deportes y Ocio</a>
                      <a [routerLink]="['/category/', 4]" class="dropdown-item">Consolas y Videojuegos</a> 
                      <a [routerLink]="['/category/', 5]" class="dropdown-item">Moda</a>
                    </div>
                  </li> 
                  <li class="nav-item" *ngIf="loginService.user">
                    <a class="nav-link" [routerLink]="['/addProduct']">Añadir producto <i class="fa fa-plus"></i></a>
                  </li>
                </ul>  
                <ul class="navbar-nav ml-auto mt-10">
                  <div *ngIf="loginService.user;then viewIsLogged else viewNoLogged"></div>
                  <ng-template #viewIsLogged>
                    <li class="nav-item">
                      <a class="btn nav-link" [routerLink]="['/dashboard']"><i class = "fa fa-user"></i> ¡Hola {{loginService.user.name}}!</a>                      
                      <li class="nav-item">
                        
                    <div *ngIf="loginService.isLogged" class="nav navbar-nav navbar-right">

                    </div>
                        <button class="btn btn-primary" data-target=".bs-logout-modal-sm" data-toggle="modal" (click)="open(logOut)"><a> Cerrar sesión</a> </button>
                    </li>
                  </ng-template>
                  <ng-template #viewNoLogged>
                    <li class="nav-item"><a class="nav-link login-button" (click)="open(loginModal)">Iniciar Sesion</a></li>
                  </ng-template>
                </ul>
              </div>              
          </nav>        
      </div>
    </div>  
  </div>
</section>

<section>
    
<ng-template #loginModal let-c="close" let-d="dismiss"  >
  <div class="modal-header">
  	<h4 class="modal-title">Informacion de usuario</h4>
    <button type="button" class="close" aria-label="Close">
			<span aria-hidden="true" (click)="c()">&times;</span>
  </button>
</div>
  <login></login>  
</ng-template> 

</section>

<section>
  <ng-template #logOut let-c="close" let-d="dismiss">
    <login></login>
  </ng-template>
</section>

